@{
    Layout = null;
}
@model DTO.Modifier.ModifierDTO
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <fieldset style="width: 100%">
                    <legend>Information </legend>
                    <div class="first-step-group-criteria" style="padding-top:10px; margin-bottom: 10px;">
                        <div class="form-row">
                           <div class="col-md-6 mb-3">
                                <label for="email">Image</label>
                                @Html.HiddenFor(model =>model.ImageURL)
                                @Html.TextBoxFor(model => model.PictureUpload, new { @class = "dropify", @type = "file" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="FullName">Code</label>
                                @Html.HiddenFor(model => model.Id)
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @id = "Code", placeholder = "Code", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Code, null, new { @class = "label label-danger" })
                            </div>
                             <div class="col-md-6 mb-3">
                               <label for="phone">Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "Name", placeholder = "Name", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "label label-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="email">Price</label>
                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @id = "Price", placeholder = "Price", @autocomplete = "off", @type="number" })
                                @Html.ValidationMessageFor(model => model.Price, null, new { @class = "label label-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Food</label>
                                @Html.DropDownListFor(model => model.FoodId,
                                new SelectList(Model.Foods, "Id", "Name", Model.FoodId), null,
                                    new
                                    {
                                    @class = "form-control cc-select2 custom-select",
                                    @style = "width:100%;",
                                })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label></label>
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "icheck custom-control-input", @id = "active" })
                                    <label class="custom-control-label" for="active">status</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <div class="text-right">
                    <a href="@Url.Action("Index","ModifierManagement")" class="btn btn-default" type="submit">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    })
</script>