@model DTO.Restaurant.RestaurantDTO
<div class="page-section pb-40">
    <div class="container" ng-controller="CartCtrl">
        <div class="row">
            @if (Model.Foods != null && Model.Foods.Any())
            {
                var No = 0;
                foreach (var item in Model.Foods)
                {
                    No = No + 1;
                    <div class="col-lg-3" style="text-align: center">
                        <div><img src="@Url.Content(@item.ImageURL)" style="width: 100% !important; height: 150px !important; " /></div>
                        <div style="margin: 9px"><a href="@Url.Action("Detail","Restaurant", new { q = item.Id })" style="color: #f1ac06 "><strong>[@item.Code] </strong>@item.Name - @item.Price</a></div>
                        <div><b>Giá:</b> <i style="color: red">@item.Price</i></div>
                        <div>
                            <a ng-click="AddToCart('@item.Code','', -1, '@item.Price', '@item.ImageURL', '@item.Name');" class="btn add-to-cart btn-danger">-</a>&nbsp;
                            <a ng-click="AddToCart('@item.Code', '', 1, '@item.Price', '@item.ImageURL', '@item.Name');" class="btn add-to-cart btn-secondary">+</a>
                        </div>
                    </div>
                    if (item.Modifiers != null && item.Modifiers.Any())
                    {
                        foreach (var item2 in item.Modifiers)
                        {
                            <div class="col-lg-3" style="text-align: center">
                                <div><img src="@Url.Content(@item2.ImageURL)" style="width: 100% !important; height: 150px !important; " /></div>
                                <div style="margin: 9px"><a href="@Url.Action("Detail","Restaurant", new { q = item2.Id })" style="color: #f1ac06 "><strong>[@item2.Code] </strong>@item2.Name - @item2.Price</a></div>
                                <div><b>Giá:</b> <i style="color: red">@item.Price</i></div>
                                <div>
                                    <a id="button-modifies-cart" ng-click="AddToCart('@item.Code', '@item2.Code', -1, '@item2.Price', '@item2.ImageURL', '@item2.Name');" class="btn add-to-cart btn-info">-</a>
                                    <a id="button-modifies-cart" ng-click="AddToCart('@item.Code', '@item2.Code', 1, '@item2.Price', '@item2.ImageURL', '@item2.Name');" class="btn add-to-cart btn-success">+</a>
                                </div>
                            </div>
                        }                         
                    }
                }
            }          
        </div>
    </div>
</div>
